<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
  <body style="background-size: cover" background="/static/images/BG.png">
    <h2 style="color:#FFF">VANI - The Virtual Assistant</h2>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi! I'm Vani, your virtual assistant!</span></p>
      </div>
      <div id="userInput">      
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <button type="submit" id="buttonInput" class="btn btn-primary">Send</button>
        <!--button type="button" id="voiceInput" height="16px" width="16px"><img src="static/images/mic.jpg"/></button-->
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
          getBotResponse();
        })
      </script>
    </div>
  </body>
</html>